Flask #framework web para correr la app
gunicorn #servidor WSGI para correr la app en producción
Flask-CORS  # Para manejar CORS en la aplicación Flask durante pruebas
Flask-WTF  # Para protección CSRF en formularios Flask